<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

  <appSettings>
    <add key="ffPath" value="D:/Craft/Git/EmguObjectDetection/ff/ffmpeg.exe" />
    <add key="rtsp" value="D:/Craft/Git/EmguObjectDetection/testVideo/6.mp4" />
    <!--<add key="rtsp" value="https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8" />-->

    <add key="ffmpegFolder" value="D:/Craft/Git/EmguObjectDetection/img_ffmpeg" />
    <add key="vcaFolder" value="D:/Craft/Git/EmguObjectDetection/img_vca" />
  </appSettings>
</configuration>