<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <!--VCA Folders-->
    <add key="vcaFolder" value="D:/Craft/Git/EmguObjectDetection/img_vca" />
    <add key="outputFolder" value="D:/Craft/Git/EmguObjectDetection/img_result" />

    <!--VCA-->
    <add key="fps" value="1" />
    <add key="haarPath" value="D:/Craft/Git/EmguObjectDetection/haarcascades/haarcascade_upperbody2.xml" />
    <add key="haarFullBody" value="D:/Craft/Git/EmguObjectDetection/haarcascades/haarcascade_fullbody.xml" />
    <add key="cascadePath" value="D:/Craft/Git/EmguObjectDetection/cascade/cascadG.xml" />
    <add key="cascadeHeadPath" value="D:/Craft/Git/EmguObjectDetection/cascade/head.xml" />
    <add key="cascadeTrainedByMe" value="D:/Craft/Git/EmguObjectDetection/cascade/recent_trained.xml" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV.World" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.3.3016" newVersion="3.4.3.3016" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>